<div class="container">
    <form>
        <div class="form-group">
            <label for="productid">Product ID</label>
            <input 
            type="number" 
            class="form-control" 
            id="productid" 
            [(ngModel)]="productid" 
            name="productid"
            placeholder="ID"
            readonly>
        </div>
        <div class="form-group">
            <label for="productid">Product Name</label>
            <input type="text" class="form-control" id="productname" [(ngModel)]="productname" name="productname">
        </div>
        <div class="form-group">
            <label for="productid">Description</label>
            <textarea class="form-control" id="productdesc" [(ngModel)]="productdesc" name="productdesc"></textarea>
        </div>
        <div class="form-group">
            <label for="productid">Price</label>
            <input type="number" class="form-control" id="productprice" [(ngModel)]="productprice" name="productprice" placeholder="$">
        </div>
        <div class="form-group">
            <label for="productid">Units</label>
            <input type="number" class="form-control" id="productunits" [(ngModel)]="productunits" name="productunits">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="updateProduct()"><i class="fas fa-edit"></i> Update</button>
        </div>
    </form>
</div>

